{% extends 'base.html' %}
{% block title %}
<title>Password Reset Successfully</title>
{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}
    <section class="bg-image"
           style="background-image: url('/static/images/good_news_main_image/good_news_image.jpg'); height: 100vh;">
    <div class="mask d-flex align-items-center vh-100 gradient-custom-3 text-center justify-content-center">
      <div class="alert alert-success"  role="alert" style="color: black; border-radius: 50px">
        <h4 class="alert-heading">Well done!</h4>
        <p style="color: black">You have successfully reset password!</p>
        <hr>
        <p class="mb-0" style="color: black"><a href="{% url 'login' %}">Click here</a> to log into Your account.</p>
      </div>
    </div>
  </section>
{% endblock %}
{% block footer %}
{% endblock %}
