{% extends 'base.html' %}
{% load static %}
{% block title %}
  <title>Password Changed</title>
{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}
  <section class="bg-image">
    <img src="{% static 'images/good_news_main_image/good_news_image.jpg' %}" alt="My image"
         style="width: 100%; height: 100%; position: absolute">
    <div class="mask d-flex align-items-center vh-100 gradient-custom-3 text-center justify-content-center">
      <div class="alert alert-success" role="alert" style="color: black; border-radius: 50px">
        <h4 class="alert-heading">Well done!</h4>
        <p style="color: black">Your password has been successfully changed!</p>
        <hr>
        <p class="mb-0" style="color: black"><a href="{% url 'login' %}">Click here</a> to log into Your account.</p>
      </div>
    </div>
  </section>
{% endblock %}
{% block footer %}
{% endblock %}