{% extends 'base.html' %}
{% block title %}
<title>Registration</title>
{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}
  <section class="vh-100 bg-image"
           style="background-image: url('https://s3-us-west-1.amazonaws.com/faithnetworkuserfilestore/FAITHNETWORK_USERFILESTORE/FAITHNETWORK_USERFILESTORE/imagelibraries/ministries/95ce76eb-3371-4b95-aefd-876cd8baa69c/2022%20Sermons/Black%20Modern%20Minimalist%20Ripped%20Paper%20Aesthetic%20Album%20Cover-2.png');">
    <div class="mask d-flex align-items-center vh-100 gradient-custom-3 text-center justify-content-center">
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Well done!</h4>
        <p>You have successfully created Your account!</p>
        <hr>
        <p class="mb-0"><a href="{% url 'login' %}">Click here</a> to log into Your account.</p>
      </div>
    </div>
  </section>
{% endblock %}
