{% extends "base.html" %}
{% load static %}
{% block title %}
  <title>Comments And Replies</title>
{% endblock %}
{% block navbar %}
  <header>
    <nav class="navbar navbar-expand-md  fixed-top  nav-bar">
      <div class="navbar-brand logo"><strong>GOOD</strong><strong> NEWS</strong></div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
              aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active justify-content-center">
            <a class="nav-link" href={% url 'agency_system:index' %}>Home</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          {% if user.is_authenticated %}
            <a class="btn btn-outline-success my-2 my-sm-0 btn-logout" href="{% url 'logout' %}">
              <i class="fa fa-sign-out me-1"></i> Logout
            </a>
          {% else %}
            <a class="btn btn-outline-success my-2 my-sm-0 btn-login" href="{% url 'login' %}">
              <i class="fa fa-sign-in me-1"></i> Login
            </a>
          {% endif %}
        </form>
      </div>
    </nav>
  </header>
{% endblock %}
{% block content %}
  <div class="container mx-auto" style="padding-top: 7%">
    <div class="d-flex justify-content-between align-items-center mt-3 mb-5">
      <h1 style="color: goldenrod"><strong>Comment:</strong></h1>
      {% if  user.id == user.is_superuser or user.id == comment.author.id %}
        <a href="{% url 'agency_system:comment-update' pk=comment.id %}" class=" btn-primary"
           style="border-radius: 20px;  padding: 5px 10px;margin-left: 500px;text-decoration: none;">Edit
          comment</a>
        <a href="{% url 'agency_system:comment-delete' pk=comment.id %}" class=" btn-danger"
           style="border-radius: 20px;  padding: 5px 10px; text-decoration: none;">Delete
          comment</a>
      {% endif %}
    </div>
    <hr style="border-color: goldenrod">

    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-2" style="max-width: 100px">
          {% if comment.author.profile_images.url and comment.author and comment.author.profile_images %}
            <img src="{{ comment.author.profile_images.url }}" class="card-img img-thumbnail" alt="...">
          {% else %}
            {% with redactor.profile_images|default:"/media/default_image/blank-profile-picture.jpg/" as avatar_url %}
              <img class="card-img img-thumbnail" src="{{ avatar_url }}">
            {% endwith %}
          {% endif %}
        </div>
        <div class="col-md-10" style="margin-right: 55px">
          <div class="card-body" style="margin-right: 10%">
            <h5 class="card-title"><a href="{% url 'agency_system:redactor-detail' pk=comment.author.id %}"
                                      style="color: goldenrod">@{{ comment.author.username }}</a> {{ comment.date_added }}
            </h5>
            <p class="card-text">{{ comment.body }}</p>
          </div>
        </div>
      </div>
    </div>
    <hr style="border-color: goldenrod">
    <br>
    <div style="margin-left: 100px">
      {% if comment.comment_replies.count == 1 %}
        <h3 style="color: goldenrod"> {{ comment.comment_replies.count }} <strong>Reply:</strong></h3>
      {% else %}
        <h3 style="color: goldenrod"> {{ comment.comment_replies.count }} <strong>Replies</strong></h3>
      {% endif %}
      <hr style="border-color: goldenrod">
      {% for reply in replies %}
        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col-md-2" style="max-width: 100px">
              {% if reply.reply_author.profile_images and reply.reply_author.profile_images.url %}
                <img class="reply_img img-thumbnail" src="{{ reply.reply_author.profile_images.url }}">
              {% else %}
                {% with redactor.profile_images|default:"/media/default_image/blank-profile-picture.jpg/" as avatar_url %}
                  <img class="reply_img img-thumbnail" src="{{ avatar_url }}">
                {% endwith %}
              {% endif %}
            </div>
            <div class="col-md-10" style="margin-right: 55px">
              <div class="card-body" style="margin-right: 10%">
                <h5 class="card-title  justify-content-between"><a
                    href="{% url 'agency_system:redactor-detail' pk=reply.reply_author.id %}"
                    style="color: goldenrod">@{{ reply.reply_author.username }}</a> {{ reply.reply_date }}
                  {% if user.id == user.is_superuser or user.id == reply.reply_author.id %}
                    <a class=" btn-primary" style="border-radius: 20px; padding: 5px 10px;text-decoration: none;"
                       href="{% url 'agency_system:reply-update' pk=reply.id %}">Edit this reply</a>
                    <a class=" btn-danger" style="border-radius: 20px; padding: 5px 10px;text-decoration: none;"
                       href="{% url 'agency_system:reply-delete' pk=reply.id %}">Delete
                      this reply</a>
                  {% endif %}
                </h5>
                <p class="card-text">{{ reply.reply_body }}</p>
              </div>
            </div>
          </div>
        </div>
        <hr style="border-color: goldenrod">
      {% endfor %}

    </div>
  </div>
  <br>
  <div class="d-flex justify-content-center" style="font-size: 30px; margin-top: 200px">
    <a class="btn btn-primary pl-2" style="border-radius: 20px;"
       href="{{ return_url }}"> <-- Return to thread</a>
  </div>
{% endblock %}
{% block footer %}
{% endblock %}
