{% extends "base.html" %}
{% load static %}
{% block navbar %}
  <header>
    <nav class="navbar navbar-expand-md  fixed-top  nav-bar">
      <div class="navbar-brand logo"><strong>GOOD</strong><strong> NEWS</strong></div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
              aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active justify-content-center">
            <a class="nav-link" href={% url 'agency_system:index' %}>Home</a>
          </li>
          <li class="nav-item active justify-content-center">
            <a class="nav-link" href={% url 'agency_system:newspaper-list' %}>All News</a>
          </li>
          <li class="nav-item active justify-content-center">
            <a class="nav-link" href={% url 'agency_system:redactor-list' %}>All Redactors</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          {% if user.is_authenticated %}
            <a class="btn btn-outline-success my-2 my-sm-0 btn-logout" href="{% url 'logout' %}">
              <i class="fa fa-sign-out me-1"></i> Logout
            </a>
          {% else %}
            <a class="btn btn-outline-success my-2 my-sm-0 btn-login" href="{% url 'login' %}">
              <i class="fa fa-sign-in me-1"></i> Login
            </a>
          {% endif %}
        </form>

      </div>
    </nav>
  </header>
{% endblock %}
{% block content %}
  <div class="container mx-auto" style="padding-top: 7%">
  <br>
  {% for publisher in newspaper.publishers.all %}
    <div class="container" style="color: white;">
      <h1 class="text-center" style="color: goldenrod">{{ newspaper.title }}</h1>
      <br>
      <div class="container">
        <p class="mb-2"><strong
            style="color: goldenrod">By:</strong> {{ publisher.first_name }} {{ publisher.last_name }}</p>
        <p class="mb-2"><strong style="color: goldenrod">Topic:</strong> {{ newspaper.topic }}</p>
        <p class="mb-2"><strong style="color: goldenrod">Published date:</strong> {{ newspaper.published_date }}</p>
        {% if newspaper.news_images %}
          <img class="news_image img-thumbnail text-center"
               src="{{ newspaper.news_images.url }}">
          <br>
        {% endif %}
        <br>
        {{ newspaper.content|safe }}
      </div>
      <div class="text-center">
        <br>
        {% if user.is_superuser or user.id == publisher.id %}
          <a href="{% url 'agency_system:newspaper-update' pk=newspaper.id %}" class="btn btn-primary topic-btn">Edit
            this article</a>
          <a href="{% url 'agency_system:newspaper-delete' pk=newspaper.id %}" class=" btn btn-danger delete-btn"
             style="border-radius: 20px">Delete this article</a>
        {% endif %}
      </div>
      <br>
      <br>
      <h2 style="color: white">{{ comments_number }} Comment{{ comments_number|pluralize }}:</h2>
      <br>
      <h4><a href="{% url 'agency_system:comment-create' newspaper.pk %}" style="text-decoration: none;"><strong>Add a
        comment</strong></a></h4>
      <hr style="border-color: goldenrod">
      {% if not newspaper.comments.all %}
        <br>
        <p>There is no comments yet...</p>
        <br>
      {% else %}
        {% for comment in newspaper.comments.all %}
          <p>
            {% if comment.author.profile_images.url %}
              <img class="comment_img img-thumbnail"
                   src="{{ comment.author.profile_images.url }}">
            {% endif %}
            <a style="color: goldenrod"
               href="{% url 'agency_system:redactor-detail' pk=comment.author.id %}">@{{ comment.author.username }}</a> {{ comment.date_added }}
          </p>

          <p>{{ comment.body }}</p>
          {% if comment %}
            <a class="btn btn-primary reply-btn mr-2"
               href="{% url 'agency_system:reply-comment-create' pk=newspaper.id comment_id=comment.id %}">Reply</a>
            <a href="{% url 'agency_system:comment-and-replies' pk=comment.id %}" style="text-decoration: none;">
              {% if comment.comment_replies.count == 1 %}
                <strong>{{ comment.comment_replies.count }} reply</strong>
              {% else %}
                <strong>{{ comment.comment_replies.count }} replies</strong></a>
              {% endif %}
            {% if user.id == user.is_superuser or user.id == comment.author.id %}
              <a class="ml-3" style="font-size: 16px; text-decoration: none;"
                 href="{% url 'agency_system:comment-and-replies' pk=comment.id %}"><strong>Edit a comment</strong></a>
            {% endif %}
          {% endif %}
          <hr style="border-color: goldenrod">
        {% endfor %}
      {% endif %}
      <br><br>
    </div>
  {% endfor %}
  <div class="d-flex justify-content-center" style="font-size: 20px">
    <a class="btn btn-primary pl-2" style="border-radius: 20px"
       href="{% url 'agency_system:newspaper-list' %}"> <-- Return to News list</a>
  </div>
  <br><br>
{% endblock %}
{% block footer %}
{% endblock %}

