{% extends "base.html" %}
{% load static %}
{% block content %}
  <div style="padding-top: 5%">
    <br>
    {% for publisher in newspaper.publishers.all %}
      <div class="container" style="color: white">
        <h1 class="text-center" style="color: goldenrod">{{ newspaper.title }}</h1>
        <br>
        <div class="container">
          <p><strong style="color: goldenrod">By:</strong> {{ publisher.first_name }} {{ publisher.last_name }}</p>
          <p><strong style="color: goldenrod">Topic:</strong> {{ newspaper.topic }}</p>
          <p><strong style="color: goldenrod">Published date:</strong> {{ newspaper.published_date }}</p>
          {% if newspaper.news_images %}
            <img class="news_image img-thumbnail"
                 src="{{ newspaper.news_images.url }}">
            <br>
          {% endif %}
          <br>
          {{ newspaper.content|safe }}
        </div>
        <div class="text-center">
          {% if user.is_superuser or user.id == publisher.id %}
            <a href="{% url 'agency_system:newspaper-update' pk=newspaper.id %}" class="btn btn-primary topic-btn">Edit
              this article</a>
          {% endif %}
        </div>
        <br>
      </div>
    {% endfor %}
  </div>
{% endblock %}
{% block footer %}
{% endblock %}
