{% extends "base.html" %}
{% load static %}
{% block navbar %}
  <header>
  <nav class="navbar navbar-expand-md  fixed-top  nav-bar">
    <div class="navbar-brand logo"><strong>GOOD</strong><strong> NEWS</strong></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active justify-content-center" >
          <a class="nav-link"  href={% url 'agency_system:index' %}>Home</a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        {% if user.is_authenticated %}
          <a class="btn btn-outline-success my-2 my-sm-0 btn-logout" href="{% url 'logout' %}">
            <i class="fa fa-sign-out me-1"></i> Logout
          </a>
        {% else %}
          <a class="btn btn-outline-success my-2 my-sm-0 btn-login" href="{% url 'login' %}">
            <i class="fa fa-sign-in me-1"></i> Login
          </a>
        {% endif %}
      </form>

    </div>
  </nav>
</header>
{% endblock %}
{% block content %}
  <div class="container text-center" style="padding-top: 5%">
    <br>
    <div class="newspaper-box text-center" style="color: white">
      <h1 style="color: goldenrod">{{ redactor.first_name }} {{ redactor.last_name }}</h1>
      <br>
      <h3><strong>Personal information</strong></h3>
      <br>
      <p><strong style="color: goldenrod">First name:</strong> {{ redactor.first_name }}</p>
      <p><strong style="color: goldenrod">Last name:</strong> {{ redactor.last_name }}</p>
      <p><strong style="color: goldenrod">Username:</strong> {{ redactor.username }}</p>
      <p><strong style="color: goldenrod">Password:</strong> ********
        {% if user.id == redactor.id %}
          <a class="ml-3" style="font-size: 1.3rem" href="{% url 'agency_system:password-update' pk=redactor.id %}">Change
            Password</a>
        {% endif %}
      </p>
      <p><strong style="color: goldenrod">Email:</strong> {{ redactor.email }}
        {% if not redactor.email %}
          No information given.
        {% endif %}
      </p>
      <p><strong style="color: goldenrod">Years of experience:</strong> {{ redactor.years_of_experience }}</p>
      <p><strong style="color: goldenrod">Author of newspapers:</strong>

        {% if  redactor.published_newspapers.count == 0 and user.id == redactor.id %}
          You have not published any news yet.
        {% endif %}
        {% if user.id != redactor.id and  redactor.published_newspapers.count == 0 %}
           This user has not published any news yet.
        {% elif redactor.published_newspapers.count > 0 %}
          {{ redactor.published_newspapers.count }}
        {% endif %}
      </p>
      <ol style="color: goldenrod">

        {% for newspaper in redactor.published_newspapers.all %}
          <li>
            <p style="font-size: 1.3rem">
              <a href="{% url 'agency_system:newspaper-detail' pk=newspaper.id %}" style="color: white">
                {{ newspaper.title }}
              </a>
            </p>
          </li>
        {% endfor %}
      </ol>
      <br>
      <div class="d-flex justify-content-center">
        {% if user.is_superuser %}
          <a href="{% url 'agency_system:redactor-update' pk=redactor.id %}"
             class="btn btn-primary topic-btn text-center">Edit Profile</a>
        {% elif user.id == redactor.id %}
          <a href="{% url 'agency_system:redactor-update' pk=redactor.id %}"
             class="btn btn-primary topic-btn text-center">Edit Profile</a>
        {% endif %}
      </div>
      <br>
    </div>
  </div>
{% endblock %}
{% block footer %}
{% endblock %}
