{% extends "base.html" %}

{% block content %}
  <div class="container-fluid mt-5" style="padding-top: 2%">
    <h1>Redactors:</h1>
    <hr>
    {% if redactor_list %}
      <ul>
        {% for redactor in redactor_list %}
          <li>
            <p><a
                href={% url "agency_system:redactor-detail" pk=redactor.id %}>{{ redactor.username }}: {{ redactor.first_name }} {{ redactor.last_name }}</a>
            </p>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endblock %}
{% block footer %}
{% endblock %}
