{% extends "base.html" %}
{% block title %}
  <title>Delete Account Confirmation</title>
{% endblock %}
{% block content %}
  <div class="container-fluid mt-5 d-flex flex-column justify-content-center align-items-center vh-100">
    <h1 style="color: goldenrod">Delete account</h1>
    <p><strong>Are you sure you want to delete Your account ?</strong></p>
    <form action="" method="post">
      {% csrf_token %}
      <input type="submit" value="Yes, delete" class="btn btn-success btn_confirm"/>
      <a href="{% url 'agency_system:redactor-detail' pk=redactor.id %}" class="btn btn-primary btn_confirm">Go Back</a>
    </form>
  </div>

{% endblock %}
{% block footer %}
{% endblock %}