{% extends "base.html" %}

{% block content %}
  <div class="container-fluid mt-5" style="padding-top: 2%">
    <h1>{{ redactor.first_name }} {{ redactor.last_name }}</h1>
    <hr>
    <h4>Personal information</h4>
    <div class="ml-3">
      <p><strong>Username:</strong> {{ redactor.username }}</p>
      <p><strong>Email:</strong> {{ redactor.email }}</p>
      <p><strong>Years of experience:</strong> {{ redactor.years_of_experience }}</p>
      {% for newspaper in redactor.published_newspapers.all %}
        <p><strong>Author of newspapers</strong>: {{ newspaper.title }}</p>
      {% endfor %}
    </div>
  </div>
{% endblock %}
{% block footer %}
{% endblock %}
