{% extends "base.html" %}

{% block content %}
  <div class="container-fluid mt-5" style="padding-top: 3%">
    <h1 style="color: white">{{ topic.name }}</h1>
    <br>
    {% if topic.newspapers.all %}
      {% for newspaper in topic.newspapers.all %}
        <p><strong>Newspaper: </strong>{{ newspaper.title }}</p>
        {% if newspaper.publishers.all %}
          {% for publisher in newspaper.publishers.all %}
            <p><strong>Publishers: {{ publisher.first_name }} {{ publisher.last_name }}</strong></p>
          {% endfor %}
        {% endif %}
      {% endfor %}
    {% else %}
      <p>There are no newspapers on this topic.</p>
    {% endif %}
  </div>
{% endblock %}
{% block footer %}
{% endblock %}
