{% extends "base.html" %}

{% block content %}
  <h1>Delete Topic</h1>
  <p>Are you sure you want to delete this topic: {{ topic }}</p>
  <p><i>All newspapers with this topic will be also deleted!</i></p>
  <form action="" method="post">
    {% csrf_token %}
    <input type="submit" value="Yes, delete" class="btn btn-danger"/>
    <div class="custom btn">
      <a href="{% url 'agency_system:topic-list' %}" class="btn btn-secondary color white">Back</a>
    </div>

  </form>

{% endblock %}