{% extends "base.html" %}
{% block title %}
  <title>{{ topic.name }} Topic</title>
{% endblock %}
{% block navbar %}
  <header>
    <nav class="navbar navbar-expand-md  fixed-top  nav-bar">
      <div class="navbar-brand logo"><strong>GOOD</strong><strong> NEWS</strong></div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
              aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active justify-content-center">
            <a class="nav-link" href={% url 'agency_system:index' %}>Home</a>
          </li>
          <li class="nav-item active justify-content-center">
            <a class="nav-link" href={% url 'agency_system:topic-list' %}>All Topics</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          {% if user.is_authenticated %}
            <a class="btn btn-outline-success my-2 my-sm-0 btn-logout" href="{% url 'logout' %}">
              <i class="fa fa-sign-out me-1"></i> Logout
            </a>
          {% else %}
            <a class="btn btn-outline-success my-2 my-sm-0 btn-login" href="{% url 'login' %}">
              <i class="fa fa-sign-in me-1"></i> Login
            </a>
          {% endif %}
        </form>

      </div>
    </nav>
  </header>
{% endblock %}
{% block content %}
  <div class="container-fluid" style="padding-top: 5%">
    <div class="d-flex justify-content-between align-items-center mt-3 mb-5">
      <h1 class="text-center" style="color: goldenrod; margin-right: 55px; font-size: 60px">
        <strong>{{ topic.name }}</strong>
      </h1>
      <div class="ml-auto">
        {% if user.id == user.is_superuser %}
          <a href="{% url 'agency_system:topic-update' pk=topic.id %}" class="btn btn-primary primary-btn mr-3"
             style="text-decoration: none;border-radius: 20px;">Edit topic</a>
          <a href="{% url 'agency_system:topic-delete' pk=topic.id %}" class="btn btn-danger delete-btn"
             style="text-decoration: none;">Delete topic</a>
        {% endif %}
      </div>
    </div>
    <br>
    <div class="row">
      {% if topic.newspapers.all %}
        {% for newspaper in  topic.newspapers.all %}
          <div class="col-md-5 mb-5">
            <div class="card-content" style="height: 150px; padding-top:5px;">
              <div class="card-content-body">
                <p style="font-size: 2.0rem"><a
                    href="{% url 'agency_system:newspaper-detail' pk=newspaper.id %}">{{ newspaper.title }}</a></p>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div class="container-fluid d-flex flex-column justify-content-center" style="margin-top: 200px;">
          <p class="text-center" style="color: goldenrod; font-size: 30px"><strong>There are no news with this
            topic.</strong></p>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
{% block footer %}
{% endblock %}
