<div class="col-sm-3">
  {% block sidebar %}
    <ul>
      {% if user.is_authenticated %}
        <li>
          User: {{ user.username }}
        </li>
        <li>
          <a href="{% url 'logout' %}">Logout</a>
        </li>
      {% else %}
        <li>
          <a href="{% url 'login' %}">Login</a>
        </li>

      {% endif %}
      <br>
      <li>
        <a href="{% url 'agency_system:index' %}">Home</a>
      </li>
      <li>
        <a href="{% url 'agency_system:topic-list' %}">All topics</a>
      </li>
      <li>
        <a href="{% url 'agency_system:redactor-list' %}">All redactors</a>
      </li>
      <li>
        <a href="{% url "agency_system:newspaper-list" %}">All newspapers</a>
      </li>
    </ul>
  {% endblock %}
</div>